@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sansita+Swashed&display=swap');

.App {
  text-align: center;
  background-color: #5898fc;
  min-height: 100vh;
}

.Logo-container {
  display: flex;
  flex-direction: row;
  font-family: 'Sansita Swashed';
}

.App-logo {
  height: 20vmin;
}

.App-header {
  /* height: 35vh; */
  padding: 3vh 0 3vh 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.App-link {
  /* color: #61dafb; */
  color: #e1ebfa;
  text-decoration: none;
}

.App-link:hover {
  color: white;
}

.App-footer {
  color: #2f2f30;
  padding: 2vh 0 2vh 0;
}

.App-body {
  background-color: #e1ebfa;
  min-height: 10vh;
  display: flex;
  padding: 5vh 0 5vh 0;
  gap: 3vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.currentWeather {
  background-color: #8fb7f2;
  width: 70vw;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1vh 0 1vh 0;
}

.currentWeatherIcon {
  display: flex;
}

.currentTemp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currentTemp * {
  margin: 0;
}

.temperature {
  font-size: 4em;
}

.currentWeatherBlocks {
  display: flex;
  justify-content: space-evenly;
}

.currentWeatherInfo {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}